body {
	margin: 0;
}

.container {
	max-width: 600px;
	position: relative;
	height: 100%;
	margin: auto;
	overflow: hidden;
}

img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

button {
	border: 0;
	outline: 0;
	background-color: transparent;
	margin: 0;
	padding: 0;
	transition: transform 0.5s linear;
}

button:active {
	transform: scale(1.2);
}

.bg {
	z-index: 9;
	position: absolute;
	bottom: 0;
	top: 0;
}

.y {
	z-index: 99;
	position: absolute;
	bottom: 0;
}

.p {
	z-index: 9999;
	position: absolute;
	bottom: 0;
}

.s {
	z-index: 999;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50%;
}

#dialog-container {
	display: none;
	z-index: 99998;
	position: fixed;
	width: 300vw;
	top: 0;
	left: -200%;
	right: 200%;
	bottom: 0;
	background-color: #000000b9;
}

#dialog {
	display: none;
	width: min(550px, 90%);
	height: 100%;
	z-index: 99999;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 8px;
}

#dialog {
	animation: fadeIn 0.1s linear;
}

#dialog #content {
	padding: 12px;
	font-size: large;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.envelope-container {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 50%;
	z-index: 9999999;
	transform: translate(-50%, 50%);
}

.envelope {
	position: relative;
	width: 100%;
	/* This makes the envelope fill its parent */
	aspect-ratio: 16 / 10;
	/* Keeps the envelope's shape */
	background-color: #f0a2a2;
	/* Back of the envelope color */
	cursor: pointer;
	transition: all 0.3s ease-out;
	z-index: 999999;
}

/* The envelope's main rectangular body */
.envelope::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f0a2a2;
	/* Creates the bottom V-shape of the front */
	z-index: 999999999999;
}

/* The flap of the envelope */
.envelope::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background-color: #e08c8c;
	/* Darker flap color */
	/* Creates the top triangle flap */
	clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
	z-index: 99999990;
	transform-origin: top;

	transform: rotateX(180deg);
	z-index: 999997;
}

/* The letter inside */
.letter {
	position: fixed;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90vh;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 999998;
	text-align: center;
	padding-top: 20px;
	font-family: sans-serif;
	color: #333;

	animation: letterUp 0.8s 0.1s forwards;
}

@keyframes letterUp {
	0% {}

	100% {
		transform: translateY(-80vh);
	}
}

.heart {
	position: fixed;
	bottom: -1vh;
	width: 25px;
	height: auto;
	/* font-size: 40px; */
	transform: translateY(0);
	animation: fall 2.5s linear forwards;
	z-index: 99999;
}

@keyframes fall {
	to {
		transform: translateY(-102vh);
		opacity: 0;
	}
}